{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": false
    }
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "indent": ["error", 4],
    "max-len": 0,
    "no-param-reassign": "off"
  }
}
